<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= css_bundle %>">
  </head>
  <body>
    <div
      id="app"
      data-page-name="<%= page_name %>"
    >
      <!-- use dataset to set page_name to every app entry point -->
      <!-- define Vue template here -->
      <div v-cloak>
        <h1>Welcome to SinIo</h1>
        <h2>Current Pins:</h1>
        <div v-for="pin in pins">
          <p>{{pin}}</p>
          <button @click="flipPin">flip pin</button>
        </div>
      </div>
    </div>
    <script src="<%= script %>"></script>
   </body>
</html>
